.Cards{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto;
    margin-left: 30px;
    height: 320px;
}
.Card{
margin-right: 15px;
position: relative;
}
.foto{
    width: 176px;
    height: 235px;
    margin: 0 auto;
    border-radius: 15px;
}
.estrellas{
    height: 15px;
    margin-left: 6px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.Star{
    width: 12px;
    height: 12px;
    margin: 9px 2px 9px;
}
span{
    font-family: 'Poppins', sans-serif;
    display: inline;
    font-size: 12px;
    font-weight: 200;
    margin-left: 5px;
}
span:nth-child(3){
        color: #918E9B;
}
span:nth-child(4){
    color: #918E9B;
}
p{
    font-family: 'Poppins', sans-serif;
    display: inline;
    font-size: 11px;
    font-weight: 200;
}
.nombre{
    margin-left: 6px;
    height: 15px;
    
}
.precio{
    margin-left: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    height: 15px;
    margin-top: 8px;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 3px 5px;
    border-radius: 2px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}